<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <Properties>

    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <EcsLaycout serviceName="todo-sample" />
        </Console>
    </Appenders>
    <Loggers
    >
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</configuration>