<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>
    <h1 th:text="${message}">Default Message</h1>
    <div>
        <form id="todoForm" th:action="@{/home/api}"  th:object="${todoEntity}" method="post">
            <p>Id: <input type="text" th:field="*{id}" /></p>
            <p>Title: <input type="text" th:field="*{title}" /></p>
            <p>Completed: <input type="checkbox" th:field="*{completed}" /></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        <script src="js/todo.js"></script>
    </div>
</body>
</html>